<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X6ZYHGVQPM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X6ZYHGVQPM');
</script>

	  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bharath Karkera</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/aos.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
      
       <style>
  *{ margin: 0; padding: 0;}
  
  .centerdiv{
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center
  }

  a {
  height: 200px;
  width: 200px;
  background-color: #f5f6fa ;
  border-radius: 100px;
  text-align: center;
  margin: 10px;
  line-height: 220px;
  box-shaddow: 1px 4px 2px 2px;
  }

  a i {
  font-size: 50px;
  transition: all 0.3s linear;

  }

  a:hover i {
  transform: scale(2.0);
  }

  .fa-instagram {
  color: #e84393;
  }

  .fa-twitter {
  color: #0097e6;
  }

  </style>
  
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="100">
          <div class="container">
           
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Education</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/python.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static/images/bharath_3.jpg" alt="Image"/></a></div>
          <div class="h2 title">Bharath Karkera</div>
          <p>
          <p class="category text-white">Software Engineer</p>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
				<a class="btn btn-default btn-round btn-lg btn-icon" target = "_blank" href="https://www.facebook.com/bharath.raj.948494" rel="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>
				<a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://twitter.com/imBharathRajR?t=EDAGc2uE5hBFo8N1V_MnbA&s=09" rel="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://github.com/BharathKarkera" rel="tooltip" title="Github"><i class="fa fa-github"></i></a>
				<a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://www.linkedin.com/in/bharathraj-karkera-98ba12250" rel="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://instagram.com/im_bharath_karkera" rel="tooltip" title="Instagram"><i  class="fa fa-instagram"></i></a>
          </div>
            </div>
      </div>
    </div>
  </div>
</div>


<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>A software engineer who likes to work on Unix/Linux system and interested in Python programming. I'm from Mangalore - India.</p>
            <p>In my free time I love reading about history, Indian Mythology etc. I love cricket and a big fan of Virat Kohli.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Company:</strong></div>
              <div class="col-sm-8">Infosys Limited</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">bharathrajkarkera@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Austin, Texas, U.S.A</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Languages:</strong></div>
              <div class="col-sm-8">English, Hindi, Kannada, Tulu</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Area of Interest:</strong></div>
              <div class="col-sm-8">History, Geopolitics, Cricket, Physics</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <b>Programming Languages:</b> Python, Unix Shell Scripting, Oracle PL/SQL <br><br>
        <b>Operating Systems:</b> Linux, AIX, MacOS, Windows<br><br>        
        <b>Tools:</b> SQL Developer, Splunk, Hubble, Charles Proxy, GitHub, Eclipse IDE <br><br>
        <b>Database Management Systems:</b> Oracle SQL, Redis Basics, Cassandra Basics<br><br>
        <b>Technologies:</b> Flask, Apache Kafka, Apache Solr, Splunk, Dockers and Kubernetes ,API's ,JSON  </div>
    </div>
  </div>
</div>

<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>June 2017 - Present</p>
            <div class="h5">INFOSYS LIMITED</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Production Support Lead</div>
            <p>
              <ul>
                <li>6+ years of experience in highly critical and global Product Engineering Systems applications constituting of functional data analysis, Adhoc SQL's , Bug fixes, automations and system monitoring.</li>  
                <li>Worked on Scripts for automated reports, system resource usage, high volume data corrections.</li>
                <li>Active involvement in code and design reviews and suggested code quality improvements.</li>
                <li>Efficiently driving database and infrastructure maintenance activities.</li>
                <li>Providing technical support during major development release and disaster recovery activities.</li>
                <li>Developed scripts and automation tools using Python/Unix Shell scripts to carryout regular tasks.</li>
                <li>Coordination with teams situated in different geographical locations for project related activities.</li>
                <li>Recover critical systems from planned/unplanned network or hardware outages and providing quick workaround to minimise the impact.</li>
                <li>Develop , test and deploy specific code modules as required for the resolution of the issues.</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    
<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2013 - 2017</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Engineering in E&C</div>
            <p class="category">NMAM Institute of Technology Nitte</p>
            <p>B.E. in Electronics and Communications with overall CGPA of 9.22</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2011 - 2013</p>
            <div class="h5">PUC/Class XII</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Pre University Course in Computer science</div>
            <p class="category">Shri Durga Parameshwari Temple PU College Kateel</p>
            <p>Completed Pre University Course with 91.6%</p>
          </div>
        </div>
      </div>
    </div>
    


    <footer class="footer">
      <div class="container text-center">
      		<a class="cc-facebook btn btn-link" target="_blank" href="https://www.facebook.com/bharath.raj.948494"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a>
      		<a class="cc-twitter btn btn-link " target="_blank" href="https://twitter.com/imBharathRajR?t=EDAGc2uE5hBFo8N1V_MnbA&s=09"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a>
      		<a class="cc-google-plus btn btn-link" target="_blank" href="https://github.com/BharathKarkera"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      		<a class="cc-linkedin btn btn-link" target="_blank" href="https://www.linkedin.com/in/bharathraj-karkera-98ba12250"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a>
      		<a class="cc-instagram btn btn-link" target="_blank" href="https://instagram.com/im_bharath_karkera"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a>
      </div>
            <div class="h4 title text-center">Bharath Karkera</div>
      <div class="text-center text-muted">

        <br>

      </div>
    </footer>
    <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
    <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
  </body>
</html>
